<html>
    <%= render "layouts/header" %>
    <div class="container">
        <p class="lead">Application</p>
        <%= form_for :career do |c| %>
     
        <%= c.text_field :first_name, :class => "form-control", :placeholder => "First name"%>
        <br>
        <%= c.text_field :last_name, :class => "form-control", :placeholder => "Last name"%>
        <br>
        <%= c.text_field :email, :class => "form-control", :placeholder => "E-mail" %>
        <br>
        <%= c.submit :Submit, :class => "btn btn-default navbar-btn"%>
        <br>
        <% end %>
    </div>

</html>