<h1>Careers#index</h1>
<p>Find me in app/views/careers/index.html.erb</p>
<%= form_for @career do |f| %>

<p>
    <%= f.label :first %><br>
    <%= f.text_field :first %><br>
    <%= f.label :last %><br>
    <%= f.text_field :last %>
</p>
<p>
    <%= f.label :info %><br>
    <%= f.text_field :info %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>
